html,
body {
  font-family: Palatino Linotype;
  font-size: 16px;
}

.app .nav-section {
  background: url("../img/bg.svg") center no-repeat;
  background-size: cover;

  height: 52px;
  padding: 11px 0;
}

.app .nav-section .container {
  height: 100%;
}

.nav-section nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-wrapper .logo {
  height: 100%;
}

.logo-wrapper {
  flex: 1;
  height: 100%;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.icon-wrapper {
  width: 40px;
  margin-left: 13px;
}

.icon-wrapper img {
  color: #fff;
  width: 65%;
}

h1:first-child {
  margin-top: 0;
}
.filter-section {
  /* background-color: #dedede; */
  /* padding:40px 0; */
  margin-bottom: 20px;
  border-bottom: 1px solid #d6d6d6;
}

.filter-selection-wrapper {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}

.filter-selection {
  height: 72px;
  /* background: #a2a2a2; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #383838;
  cursor: pointer;
  border-bottom: 3px solid #fff;
}

.filter-selection.selected {
  border-bottom: 3px solid rgba(7, 163, 178, 1);
  color: rgba(7, 163, 178, 1);
}
.hidden {
  display: none;
}

.other-filter-section {
  /* height:72px; */
  margin-bottom: 20px;
  text-align: end;
}

.other-filter-section img {
  height: 29px;
}

.user {
  position: relative;
  margin-bottom: 10px;
  text-shadow: 0 0 8px #1d1d1d;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
}

.user-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.user .user-photo {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

.user-name {
  position: absolute;
  left: 38px;
  bottom: 11%;
}

.chat {
  border-radius: 28px;
  overflow: hidden;
  position: fixed;
  top: 60px;
  bottom: 60px;
  width: 500px;
  right: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px #878787;
  background: #fff;
}

.chat.closed {
  transform: translateX(520px);
  box-shadow: none;
}

.chat .chat-user-photo {
  height: 300px;
  width: 300px;
  border-radius: 300px;
  border: 6px solid #eaeaea;
  box-shadow: 0px 0px 13px #878787;
}

.chat .chat-messages {
  flex: 1;
  overflow: auto;
  background: #fff;
  padding-top: 10px;
  box-sizing: border-box;
}

.chat .chat-user-wrapper {
  /* flex:1; */
  height: 448px;
}

.chat .chat-user-photo-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    135deg,
    rgba(241, 97, 94, 1) 0%,
    rgba(239, 236, 79, 1) 100%
  );
}
.chat .chat-user-name {
  margin-top: 24px;
  font-size: 1.5em;
  color: #fff;
  text-shadow: 0px 0px 13px #878787;
}
.message-wrapper {
  width: 100%;
  display: flex;
}

.message-wrapper.me {
  justify-content: flex-end;
}

.message-wrapper .message {
  max-width: 70%;
  min-width: 102px;
  background: #efefef;
  margin: 0px 10px 10px 10px;
  padding: 13px;
  white-space: pre-line;
  line-height: 1.5em;
  border-radius: 6px 24px 24px 24px;
}

.me .message {
  border-radius: 24px 6px 24px 24px;
}

.chat-control {
  height: 50px;
  display: flex;
  padding: 0 28px 24px 28px;
  background: #fff;
  /* justify-content: center;
  align-items: center; */
}

.chat-input-wrapper {
  flex: 1;
  padding-right: 28px;
}
.chat-input-wrapper,
.send-btn-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

#chatInput {
  border: 0px;
  border-bottom: 2px solid #7d7d7d;
  outline: none;
  font-size: 1.2em;
}

#chatInput,
#sendMsgButton {
  flex: 1;
}

#sendMsgButton {
  background: #f1805b;
  border: 0;
  color: #fff;
  font-size: 1.2em;
  border-radius: 11px;
  outline: none;
  cursor: pointer;
}

.send-btn-wrapper {
  width: 160px;
}

.chat-close-btn {
  padding: 20px;
  cursor: pointer;
  font-size: 2em;
  color: #fff;
  text-shadow: 0 0 8px #1d1d1d;
  position: absolute;
  outline: none;
}

@media only screen and (max-height: 860px) {
  .chat .chat-user-wrapper {
    /* flex:1; */
    height: 248px;
  }
  .chat .chat-user-photo {
    height: 150px;
    width: 150px;
  }
  .chat .chat-user-name {
    margin-top: 12px;
  }
}